<h1>
  <%= @category.name %>
</h1>

<div class="cointainer-fluid py-3">
  <div id="video-wrap" class="row">
    <%= render @category.products %>
  </div>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-secondary' %>
    <%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' },
      class: 'btn btn-danger' %>
  <% end %>
</div>
